.footer {
    background-color: #245852;
    color: #fff;
    padding: 104px 0px 144px 0px;
}

.container {}

.footer-content {}

.footer-logo {
    margin: 0px 0px 74px 0px;
}

.footer-nav li {
    margin: 0px 0px 60px 0px;
}

.footer-nav a {
    font-size: 25px;
    font-weight: 600;
    transition: opacity 0.2 ease;
}

.footer-nav a:hover {
    opacity: 0.8
}

.footer-nav li:last-child {
    margin: 0px 0px 0px 0px;
}